@model Inleveropdr_v2_Webapps.Models.ProjectenTransactie
    @{
    ViewData["Title"] = "Transactie";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="text-center">
        <h1>Projecten</h1>
        <p>
            TEST
        </p>
    </div>

    <table class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>ID-nummer</th>
                <th>Opdracht</th>
                <th>Categorie</th>
                <th>Potentiële verdiensten</th>
                <th>Publicatiedatum</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

