@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij HBO-ICT IT Solutions</h1>
    <p>HBO-ICT IT Solutions is hét platform om opdrachtgevers in contact te brengen met enthouiaste studenten die graag een klus willen klaren.
        <br/>Opdrachtgevers kunnen hun opdrachten via deze site indienen, aanpassen en publiceren. Studenten kunnen de opdrachten bekijken en aannemen. <br />
        Navigeer naar <a href="~/Projecten" target="_blank">de pagina met projecten voor studenten.</a>
    </p>
    <center><img src="~/hbo-ict.png" width="800px" height="550px"/></center>
</div>
