@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Wij houden alle gebruikersgegevens uiterst privé en verwijderen deze binnen 14 dagen indien ze niet meer gebruikt worden. Etc etc..</p>
